<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Birthdays</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Birthday</th>
                </tr>
            </thead>
            <tbody>
                {% for birthday in birthdays %}
                    <tr>
                        <td>{{ birthday['name'] }}</td>
                        <td>{{ birthday['month'] }}/{{ birthday['day'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>